parameters:
    level: 4
    paths:
        - lequocanh/app
        - lequocanh/includes
        - lequocanh/api
    excludePaths:
        - */vendor/*
        - */cache/*
        - */graphify-out/*
        - */node_modules/*
    bootstrapFiles:
        - lequocanh/includes/helpers.php
        - lequocanh/cache/QueryCache.php
    ignoreErrors:
        # Legacy classes loaded via require (not autoload)
        - '#on an unknown class (Database|SessionManager|GioHang|CacheManager|ConfigManager|hanghoa|ProductReview|CorsMiddleware|ValidationMiddleware)#'
        - '#Instantiated class (CorsMiddleware|ValidationMiddleware|GioHang|hanghoa|ProductReview|Firebase\\JWT\\Key) not found.#'
        - '#Call to static method decode\(\) on an unknown class Firebase\\JWT\\JWT.#'
        - '#Comparison operation ">" between int<1, max> and 0 is always true.#'
        - '#Unsafe usage of new static\(\)#'
        - '#Call to static method (encode|decode)\(\) on an unknown class Firebase\\JWT\\JWT.#'
        - '#Call to an undefined static method (ImageOptimizer|AsyncLoader)::#'
